#dictionary {
    text-align:center;
  }
  
  
  #fieldset {
    border: none;
    background: #D9DEFB;
    border-radius :20px;
    width:400px;
    text-align:center;
    margin:20px auto;
    padding:20px;
  }
  
  .form-control {
    border: none;
  }
  
  .btn-btn-primary {
     background: #959ABA; 
      border:none; 
      color:#fff; 
      cursor:pointer; 
      padding:5px; 
      width:90px; 
      margin:10px 10px;
      font-size:14px;
      height : 40px;
      border-radius : 10px;
  }
  
  